@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.cdnfonts.com/css/montserrat');

:root {
  --scroll-bar-color: #c5c5c5;
  --scroll-bar-bg-color: #f6f6f6;
}

body {
  margin: 0;
   font-family: 'Montserrat', sans-serif; 
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} 

.will-change {
  will-change: transform;
}

.cursor::after {
  display: block;
  content: '';
  position: absolute;
  width: 4px;
  height: 100%;
  background-color: #fff;
  animation: cursor .6s linear infinite alternate;
  will-change: opacity;
}

@keyframes cursor {
  0%, 40% {
    opacity: 1;
  }

  60%, 100% {
    opacity: 0;
  }
}
.left-border {
  border-top-left-radius: 50%;
}
.bottom-right-border {
  border-bottom-right-radius: 50%;
}
.card-height{
  height: 10px;
}

.group:hover .group-hover\:flex {
	display: flex !important;
}


::-webkit-scrollbar-corner { background: rgba(0,0,0,0.5); }

* {
    scrollbar-width: thin;
    scrollbar-color: var(--scroll-bar-color) var(--scroll-bar-bg-color);
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

*::-webkit-scrollbar-track {
    background: var(--scroll-bar-bg-color);
}

*::-webkit-scrollbar-thumb {
    background-color: var(--scroll-bar-color);
    border-radius: 20px;
    border: 3px solid var(--scroll-bar-bg-color);
}


